<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BloggingContext"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Blog;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>